REACT_APP_NAME=

REACT_APP_DOMAIN=$DOMAIN
REACT_APP_URL=$PROTOCOL://$DOMAIN/
REACT_APP_API_DOMAIN=$API_DOMAIN
REACT_APP_API_URL=$PROTOCOL://$API_DOMAIN/

INLINE_RUNTIME_CHUNK=false
SKIP_PREFLIGHT_CHECK=true

# 第三方服务

REACT_APP_CDN_URL=

REACT_APP_SENTRY_DSN=
REACT_APP_FUNDEBUG_API_KEY=

REACT_APP_ALGOLIA_APP_ID=
REACT_APP_ALGOLIA_APP_KEY=

REACT_APP_PUSHER_APP_KEY=
REACT_APP_PUSHER_APP_CLUSTER=

REACT_APP_GITHUB_CLIENT_ID=
