.container {
  width: 100%;
  height: 100%;
}

.btn-go-home {
  color: white;
  position: relative;
  margin: 1rem auto;
  width: 8rem;
  padding: 0.8rem 0.8rem;
  border: 1px solid whitesmoke;
  border-radius: 100px;
  display: block;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  transition: all 0.3s ease-in;
}

.btn-go-home:hover {
  background-color: #0264a0;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}

.central-body {
  padding: 17% 5% 10% 5%;
  text-align: center;
}

.objects img {
  z-index: 90;
  pointer-events: none;
}

.object_rocket {
  position: absolute;
  pointer-events: none;
  animation: rocket-movement 100s linear infinite both alternate;
}

.object_moon {
  position: absolute;
  top: 12%;
  left: 25%;
}

.object_earth {
  position: absolute;
  top: 70%;
  left: 40%;
}

.object_astronaut {
  animation: rotate-astronaut 200s infinite linear both alternate;
}

.box_astronaut {
  z-index: 110 !important;
  position: absolute;
  top: 60%;
  right: 20%;
  will-change: transform;
  animation: move-astronaut 50s infinite linear both alternate;
}

.image-404 {
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.stars {
  background-size: contain;
  background: url(https://upyun.dogeeow.com/404/overlay_stars.svg) repeat left top;
}

.glowing_stars .star {
  position: absolute;
  border-radius: 100%;
  background-color: #fff;
  width: 3px;
  height: 3px;
  opacity: 0.3;
  will-change: opacity;
}

.glowing_stars .star:nth-child(1) {
  top: 80%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 1s;
}

.glowing_stars .star:nth-child(2) {
  top: 20%;
  left: 40%;
  animation: glow-star 2s infinite ease-in-out alternate 3s;
}

.glowing_stars .star:nth-child(3) {
  top: 25%;
  left: 25%;
  animation: glow-star 2s infinite ease-in-out alternate 5s;
}

.glowing_stars .star:nth-child(4) {
  top: 75%;
  left: 80%;
  animation: glow-star 2s infinite ease-in-out alternate 7s;
}

.glowing_stars .star:nth-child(5) {
  top: 90%;
  left: 50%;
  animation: glow-star 2s infinite ease-in-out alternate 9s;
}

@media only screen and (max-width: 600px) {
  .box_astronaut {
    top: 70%;
  }

  .central-body {
    padding-top: 25%;
  }
}

@keyframes rocket-movement {
  100% {
    transform: translate(95vw, -95vw);
  }
}


@keyframes move-astronaut {
  100% {
    transform: translate(-160px, -160px);
  }
}

@keyframes rotate-astronaut {
  100% {
    transform: rotate(-720deg);
  }
}
