.top-jumper {
  position: fixed;
  right: 11%;
  bottom: 15%;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;

  &:before {
    content: "▲";
    display: block;
    text-align: center;
    color: #aaa;
    line-height: 42px;
  }

  &:hover:before {
    content: "回顶部";
  }
}

kbd {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 0 3px 1px 3px;
  margin: 0 0 0 0;
  vertical-align: baseline;
  line-height: 1.8em;
  white-space: nowrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

.hr {
  border-top: 1px dashed rgba(211,224,233,.15);
  margin-top: 2rem;
  padding-top: 2rem;
}
