@charset "UTF-8";

/* reset start */
*,::after,::before {
  box-sizing: border-box;
}

a:visited {
  color: unset;
}

a:link {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
}

figure {
  margin: 0;
}

ul {
  list-style-type: none;
  text-align: initial;
  padding-inline-start: 20px;
}

kbd {
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 0 0.2em 0.1em 0.2em;
  vertical-align: baseline;
  line-height: 1.4rem;
  white-space: nowrap;
}

:not(pre) > code {
  font-family: monospace;
  border-radius: 2px;
  padding: 1px 4px;
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #eaecf0;
}

blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  border: none;
  border-left: 10px solid #d6dbdf;
}
/* reset end */

/* 手机浏览器的高度问题（搜索可以找到相配合的地方） */
.app {
  height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

/* 渐变。「明亮 / 黑暗」主题切换时的渐变。 */
body {
  transition-property: background-color;
  transition-duration: 1s;
}

/* 鼠标样式 start */
html {
  cursor: url("../resources/cursor/pointer.cur"), auto;
}

a:hover,
button:hover,
button,
li.MuiButtonBase-root,
input.MuiSwitch-input,
.pointer {
  cursor: url("../resources/cursor/link.cur"), auto;
}

input {
  cursor: url("../resources/cursor/text.cur"), auto;
}
/* 鼠标样式 end */

.hr {
  border-top: 1px dashed rgba(211, 224, 233, 0.15);
  margin-top: 2rem;
  padding-top: 2rem;
}
