@charset "UTF-8";

/* 动画。「明亮 / 黑暗」主题切换时的渐变。 */
body {
  transition-property: background-color;
  transition-duration: 2s;
}

/* reset */
ul {
  list-style-type: none;
  text-align: initial;
  padding-inline-start: 20px;
}

/* 更改默认行为 start */
a:visited {
  color: unset;
}

a:link {
  color: unset;
  text-decoration: none;
}

a:hover {
  color: unset;
}

blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102, 128, 153, 0.05);
  border: none;
  border-left: 10px solid #d6dbdf;
}
/* 更改默认行为 end */

/* 鼠标样式 start */
html {
  cursor: url("../resources/cursor/pointer.cur"), auto;
}

a:hover,
button:hover,
button,
li.MuiListItem-button,
input.MuiSwitch-input,
.pointer {
  cursor: url("../resources/cursor/link.cur"), auto;
}

input {
  cursor: url("../resources/cursor/text.cur"), auto;
}
/* 鼠标样式 end */

/* 微博热搜榜 start */
.boil {
  border-left: 1px solid red;
}

.hot {
  border-left: 1px solid orange;
}

.new {
  border-left: 1px solid green;
}
/* 微博热搜榜 end */

.quote {
  font-family: cursive;
  font-size: 18px;
  padding-bottom: 10px;
}

#favicon {
  position: relative;
  animation: antic 4s 1s;
  animation-direction: alternate;
}

@keyframes antic {
  0% {
    left: 0;
  }
  50% {
    left: 233px;
  }
  100% {
    left: 0;
  }
}

.table-of-contents {
  display: block;
  position: fixed;
  top: 85px;
  right: 0;
  min-width: 100px;
  max-width: 350px;
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid #aaa;
  border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  background: rgba(249, 249, 249, 0.85);
  padding: 12px;
  box-shadow: 0 1px 8px #000;
  -webkit-box-shadow: 0 1px 8px #000;
  -moz-box-shadow: 0 1px 8px #000;
}

h2:hover .header-anchor {
  opacity: 1;
}

h3:hover .header-anchor {
  opacity: 1;
}

h4:hover .header-anchor {
  opacity: 1;
}

.header-anchor {
  opacity: 0.2;
}

.AnyClassForContainer {
  position: fixed;
  right: 12px;
  bottom: -200px;
  transition: bottom 1.5s;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.AnyClassForTransition {
  bottom: 50px;
}

/* react-autosuggest start */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
/* react-autosuggest end */

#containerimg {
  background: #f1f1fa;
  width: 400px;
  height: 300px;
  display: block;
  margin: 10px auto;
  border: 0;
}

#container {
  height: calc(100vh - 310px);
  overflow-y: scroll;
}

.top-jumper {
  position: fixed;
  right: 11%;
  bottom: 15%;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px;
}
.top-jumper:before {
  content: "▲";
  display: block;
  text-align: center;
  color: #aaa;
  line-height: 42px;
}
.top-jumper:hover:before {
  content: "回顶部";
}

kbd {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 0 3px 1px 3px;
  margin: 0 0 0 0;
  vertical-align: baseline;
  line-height: 1.8em;
  white-space: nowrap;
}

:not(pre) > code {
  font-family: monospace;
  padding: 3px;
}

.hr {
  border-top: 1px dashed rgba(211, 224, 233, 0.15);
  margin-top: 2rem;
  padding-top: 2rem;
}
