/* 更改默认行为 start */

a:link {
  text-decoration: none;
  color: unset
}

a:active {
  text-decoration: none;
  color: unset
}

a:hover {
  text-decoration: none;
  color: unset
}

a:visited {
  text-decoration: none;
  color: unset
}

figure {
  margin: 0;
}

blockquote {
  position: relative;
  margin: 16px 0;
  padding: 5px 8px 5px 30px;
  background: none repeat scroll 0 0 rgba(102,128,153,.05);
  border: none;
  border-left: 10px solid #d6dbdf;
}

.dark {
  background: #303030 !important;
  color: white !important;
}

/* 更改默认行为 end */

/* 鼠标样式 start */
html {
  cursor: url('./resources/blur.cur'), auto;
}

a:hover, button:hover {
  cursor: url('./resources/fcous.cur'), auto;
}

li.MuiListItem-button {
  cursor: url('./resources/fcous.cur'), auto;
}

/* 鼠标样式 end */

/* 微博热搜榜 start */

.boil {
  border-left: 1px solid red
}

.hot {
  border-left: 1px solid orange
}

.new {
  border-left: 1px solid green
}

/* 微博热搜榜 end */

/* 雷姆 start */

.sidebar_wo {
  position: fixed;
  line-height: 0;
  bottom: 0;
  z-index: 1000;
}

#leimu {
  left: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translate(-7px, 7px);
  -ms-transform: translate(-7px, 7px);
  transform: translate(-7px, 7px);
}

#lamu {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translate(7px, 7px);
  -ms-transform: translate(7px, 7px);
  transform: translate(7px, 7px);
  right: 0
}

#leimu:hover {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#lamu:hover {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media only screen and (max-width: 1024px) {
  .sidebar_wo {
    display: none
  }
}

/* 雷姆 end */

/* 3D */

.ThreeDee {
  text-shadow: 0 0 0 rgb(-51, -51, -51), 1px 1px 0 rgb(-102, -102, -102), 2px 2px 0 rgb(-153, -153, -153), 3px 3px 0 rgb(-204, -204, -204), 4px 4px 0 rgb(-255, -255, -255), 5px 5px 0 rgb(-306, -306, -306), 6px 6px 5px rgba(0, 0, 0, 1), 6px 6px 1px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, .2);
}

@media (min-width: 768px){
  .main-footer {
    padding-bottom: 3em;
    background-image: url(/favicon.ico);
    background-position: right ;
    background-repeat: no-repeat;
  }
}
